[user]
    name = Corey Goldberg
    email = cgoldberg@gmail.com

[color]
    ui = auto
    branch = auto
    diff = auto
    interactive = auto
    status = auto

[branch]
    autosetupmerge = always
    autosetuprebase = always

[push]
    default = simple

[diff]
    tool = colordiff

[difftool]
    prompt = false

[difftool "colordiff"]
    cmd = diff -y $LOCAL $REMOTE | expand | colordiff | less -rS

[alias]
    # basic shortcuts
    br = branch
    cl = clone
    co = checkout
    df = diff
    dfc = colordiff
    i = info
    s = status

    # list all git aliases
    la = !git config --list | grep alias | cut -c 7- &

    # change last commit
    amend = commit -a --amend

    # commit changes with inline message
    ci = !git commit -a -m $2

    # pretty commit log
    ls = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'

    # fetch changes from remote and rebase local branch
    up = "!f() { git fetch && git pull --rebase origin \"$(git rev-parse --abbrev-ref HEAD)\"; }; f"

    # reset local branch to HEAD and delete untracked files
    blowaway = "!f() { git fetch && git reset --hard @{upstream} && git clean -d -x --force; }; f"

    # list local branches with last commit date and commit hash, sorted by last modified
    branches = "!f() { git for-each-ref --sort='-authordate' --format='%(authordate)%09%(objectname:short)%09%(refname)' refs/heads | sed -e 's-refs/heads/--'; }; f"

[filter "lfs"]
    smudge = git-lfs smudge %f
    required = true
    clean = git-lfs clean %f


