[user]
    name = Corey Goldberg
    email = cgoldberg@gmail.com

[color]
    ui = auto
    branch = auto
    diff = auto
    interactive = auto
    status = auto

[branch]
    autosetupmerge = always
    autosetuprebase = always

[push]
    default = simple

[diff]
    tool = colordiff

[difftool]
    prompt = false

[difftool "colordiff"]
    cmd = diff -y $LOCAL $REMOTE | expand | colordiff | less -rS

[alias]
    # list git aliases
    la = !git config --list | grep alias | cut -c 7- &

    # show status of current branch
    s = !git status

    # show repo information
    i = !git info

    # fetch changes and rebase master from remote
    up = !git fetch && git pull --rebase origin master

    # commit changes with inline message
    ci = !git commit -a -m $2

    # reset current branch to HEAD and delete untracked files
    blowaway = !git reset --hard HEAD && git clean -d -x --force

[filter "lfs"]
	smudge = git-lfs smudge %f
	required = true
	clean = git-lfs clean %f

